<tr>
	<td><%=lastNum%></td>
	<td><%=name%></td>
	<td><%=postcount%></td>
	<td><%=description%></td>
	<td>
		<a data-no='<%=no%>' href="" >
		<img src='<%=contextPath%>/assets/images/delete.jpg'/></a>
	</td>
</tr>